
.box {
    display: flex;          /* flex 켜기 : 자식들이 한 줄로 정렬됨*/
    flex-direction: row;    /* 가로 배치 (왼 => 오) */
    gap: 10px;
    padding: 10px;
    background: rgb(246, 233, 208);
    border-radius: 8px;
}

.card {
    flex: 1;            /* 남는 가로 공간 균등 분할 => 카드들 같은 너비 */
    padding: 30px 0;    /* 상하 30px, 좌우 0 */
    text-align: center;
    color: white;
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(245, 255, 101), rgb(0, 70, 175));
}

/* 화면 폭이 600px 이하일 때만 아래 규칙 적용(모바일) */
@media (max-width: 600px) {
    .box {
        flex-direction: column;     /* 가로 => 세로 전환 (카드 위 아래로 쌓임) */
    }

    .card {
        background: linear-gradient(60deg, rgb(255, 135, 135), rgb(0, 125, 129));
        font-size: 50px;
    }
}

/*
[ media query 단계 ]
480px — 작은 모바일
768px — 태블릿 시작점 (아이패드 세로 기준)
1024px — 데스크톱 시작점 (아이패드 가로 기준)
1280px / 1440px — 큰 화면 대응
*/