/* body => h1, img, p, ul => .special(클래스) => a : 일반 => 구체 순서 */


h1 { color:red; background: #000;}
p { color: green; }
.special { color: orange; }
li em { color: purple; }
.normal { color: black; }
.check { font-weight: 800;}