ul {
    background-color: white;
    padding: 10px;              /* 안쪽 여백 - 글자와 테두리 사이 공간 */
    border: 5px solid navy;   /* 테두리 - 두께 , 실선, 남색 */
    margin: 10px;               /* 바깥 여백 - 옆 요소와의 거리 */
    list-style: none;
}

/* 
값 1개 - 상하좌우 전부 동일하게
margin: 20px;

값 2개 - 상하 / 좌우
margin: 10px 30px; 상하 10, 좌우 30

값 4개 - 상 - 우 - 하 - 좌
margin: 10px 20px 30px 40px;

margin-top: 10px;
margin-right: 20px;
margin-bottom: 30px;
margin-left: 40px;
 */